// color tool 참조
$red: #fa5252;
$pink: #ef9a9a;
$orange: #fd7e14;
$yellow: #fcc419;
$light-yellow: #ffffb0;
$green: #40c057;
$light-green: #a5d6a7;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

.container {
  background: beige;
  height: 100vh;

  .item {
    width: 40px;
    height: 40px;

    &.item1 {
      background: $red;
    }

    &.item2 {
      background: $pink;
    }

    &.item3 {
      background: $orange;
    }

    &.item4 {
      background: $yellow;
    }

    &.item5 {
      background: $light-yellow;
    }

    &.item6 {
      background: $green;
    }

    &.item7 {
      background: $light-green;
    }

    &.item8 {
      background: $blue;
    }

    &.item9 {
      background: $indigo;
    }

    &.item10 {
      background: $violet;
    }
  }

}
