<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/lib/boostrap/bootstrap-4.6.0-dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/lib/boostrap/icons-1.3.0/font/bootstrap-icons.css" type="text/css">
  <link rel="stylesheet" href="main.css" type="text/css">

  <script src="/lib/jquery/jquery-3.5.1/jquery.min.js"></script>
  <script src="/lib/popper/popper-1.16.1/popper.min.js"></script>
  <script src="/lib/boostrap/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
  <script src="/lib/lodash/lodash.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
    <h2>르브론 제임스와 알렉스 퍼거슨 감독이 이끄는</h2>

    <div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
