.mina__wrapper {

}

.common__code__top {
  text-align: center;
  /*line-height: 30;*/
}

.common__code__top .title {
  display: inline-block;
  vertical-align: middle;
}

.common__code__top .btn__add {
  display: inline-block;
}
