<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="NewsList2.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/normalize.css">
  <title>NewsList</title>
</head>
<body>
<div class="category-block">
  <div class="category active">전체보기</div>
  <div class="category">비즈니스</div>
  <div class="category">엔터테인먼트</div>
  <div class="category">건강</div>
  <div class="category">과학</div>
  <div class="category">스포츠</div>
  <div class="category">기술</div>
</div>

<div class="article-list">
  <div class="article-box">
    <div class="thumbnail">
      <img src="https://via.placeholder.com/160">
    </div>
    <div class="contents">
      <h2>
        <a href="https://google.com" target="_blank" rel="noopener noreferrer">
          제목
        </a>
      </h2>
      <p>내용</p>
    </div>
  </div>
  <div class="article-box">
    <div class="thumbnail">
      <img src="https://via.placeholder.com/160">
    </div>
    <div class="contents">
      <h2>
        <a href="https://google.com" target="_blank" rel="noopener noreferrer">
          제목
        </a>
      </h2>
      <p>내용</p>
    </div>
  </div>
  <div class="article-box">
    <div class="thumbnail">
      <img src="https://via.placeholder.com/160">
    </div>
    <div class="contents">
      <h2>
        <a href="https://google.com" target="_blank" rel="noopener noreferrer">
          제목
        </a>
      </h2>
      <p>내용</p>
    </div>
  </div>
  <div class="article-box">
    <div class="thumbnail">
      <img src="https://via.placeholder.com/160">
    </div>
    <div class="contents">
      <h2>
        <a href="https://google.com" target="_blank" rel="noopener noreferrer">
          제목
        </a>
      </h2>
      <p>내용</p>
    </div>
  </div>
</div>
</body>
</html>
